<div class="footer">
  <div class="inner">
    <div class="menu"><ul><li class="page_item page-item-2"><a href="http://svn.magnet.co/themes/ninetofive/demo/about/" title="About Us">About Us</a></li><li class="page_item page-item-59"><a href="http://svn.magnet.co/themes/ninetofive/demo/blog/" title="Blog">Blog</a></li><li class="page_item page-item-506"><a href="http://svn.magnet.co/themes/ninetofive/demo/contact/" title="Contact Us">Contact Us</a></li><li class="page_item page-item-511"><a href="http://svn.magnet.co/themes/ninetofive/demo/auth/" title="Log In or Register">Log In or Register</a></li><li class="page_item page-item-490"><a href="http://svn.magnet.co/themes/ninetofive/demo/my-post-a-job/" title="My Post a Job">My Post a Job</a></li><li class="page_item page-item-529"><a href="http://svn.magnet.co/themes/ninetofive/demo/lostpassword/" title="Password Recovery">Password Recovery</a></li><li class="page_item page-item-21"><a href="http://svn.magnet.co/themes/ninetofive/demo/post-a-job/" title="Post a Job">Post a Job</a></li></ul></div>
    <div class="copyright">
      <p>© Copyright Nine to Five. All rights reserved.</p>
    </div>
    <div class="seo">
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et 
        ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut
        et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vivamus luctus urna sed urna ultricies ac tempor dui.</p>
      </div>
    </div>
  </div>


  <ul style="z-index: 1; top: 0px; left: 0px; display: none;" 
   aria-activedescendant="ui-active-menuitem"
   role="listbox" class="ui-autocomplete ui-menu 
   ui-widget ui-widget-content ui-corner-all">
  </ul>
  <div id="ui-datepicker-div" 
   class="ui-datepicker ui-widget ui-widget-content
    ui-helper-clearfix ui-corner-all
     ui-helper-hidden-accessible">
  </div>