<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Magank | pengalaman adalah guru yang paling berharga</title>

<!--[if IE]>
  <%= stylesheet_link_tag "ie8" %>
<![endif]-->
<!--[if IE 7]>
  <%= stylesheet_link_tag "ie7" %>
<![endif]-->
<!--[if lt IE 7]>
  <%= stylesheet_link_tag "ie7" %>
<![endif]-->

<%= stylesheet_link_tag "master" , "advanced"  %>